@import '../../colors';

.subcontent {
  padding-left: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.title {
  & > div {
    font-size: .75em;
  }
}

@media (max-width: 599px) {
  .project {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 600px) {
  .title {
    & > div {
      margin-left: 5px;
      display: inline-block;
    }
  }

  .subcontent {
    border-left: 3px solid $secondary-color-dark;
    padding-bottom: 10px;
  }
}
