@import '../../colors';

.project {
  max-width: 1200px;

}

.subcontent {
  border-left: 3px solid $secondary-color-dark;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.title {
  & > span {
    font-size: .75em;
  }
}