@import '../../colors';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  position: relative;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $primary;

  background-blend-mode: multiply;

  &__sidebar {
    display: none;
  }
  
  &__content {
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    position: relative;
    
    max-width: 1000px;
    
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .app {
    &__sidebar {
      flex: 0 1 500px;
      overflow-x: hidden;
      display: block;
    }
  }
}

@media (min-width: 1680px) {
  .app {
    // &__sidebar {
    //   flex: 0 0 500px;
    // }

    // &__content {
    //   margin-right: 10%;
    // }
  }
}