@import '../../colors';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  position: relative;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $primary;

  background-blend-mode: multiply;

  &__sidebar {
    flex: 0 0 500px;
    overflow-x: hidden;
  }
  
  &__content {
    margin-left: auto;
    background-color: $white;
    position: relative;

    width: 100%;
    height: 100%;
    position: relative;

    margin-right: 10%;
  }
}