@import '../../colors';

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  height: 100%;

  &__profile {
    display: flex;
    min-height: 220px;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  &__content {
    margin-top: 20px;
    width: 100%;
  }

  &__subcontentTitle {
    padding-bottom: 5px;

    font-size: 1.05rem;
  }

  &__subcontent {
    margin-bottom: 30px;
  }

  
  &__profileImageWrapper {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    
    -webkit-box-shadow: 0px 8px 30px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 8px 30px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 8px 30px 5px rgba(0,0,0,0.15);
  }

  &__profileTitleText {

    h1 {
      font-size: 1.4rem;
    }

    h4 {
      font-size: 1.1rem;
    }
  }
}

.chipsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chipsTitle {
  text-align: center;
}

@media (min-width: 760px) {
  .about{ 
    &__profile {
      flex-direction: row;
      text-align: left;
    }

    &__profileImageWrapper {
      width: 260px;
      height: 260px;      
    }

    &__profileTitleText {
      margin-left: 20px;

      h1 {
        font-size: 2rem;
      }
  
      h4 {
        font-size: 1.2rem;
      }
    }

    &__subcontentTitle {
      font-size: 1.2rem;
    }

    &__subcontent {
      border-left: 3px solid $secondary-color-dark;
      padding-left: 15px;
      padding-bottom: 10px;
    }

    &__content {
      margin-top: 30px;
    }
  }
}