@import '../../colors';

.contact {

  &__form {

  }

  &__subcontent {
    // border-left: 3px solid $secondary-color-dark;
    // padding-left: 15px;
    // padding-bottom: 10px;
    // margin-bottom: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }
}

// @media (min-width: 1200px) {
//   .contact {
  
//     &__subcontent {
//       width: 50%;
//     }
//   }
// }