@import '../../colors';

.contact {

  &__form {
    margin-bottom: 40px;
  }

  &__subcontent {
    border-left: 3px solid $secondary-color-dark;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}
